body {
    background-image: url("./Imges/background1.png"); 
    background-size: 'cover';
}

.delButton{
    cursor: pointer;
    width: 30px;
    margin-top: 10px;
}

.product {
    display: block;
    border: 2px solid black;
    cursor: pointer;
    width: 60%;
    margin: auto auto 1% auto;
}

.product:hover {
    border: 2px solid white;
}

button:focus, select:focus {
    outline: none;
}

.boxShadow {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0.82), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}